body {
background: rgb(107,110,214);
background: linear-gradient(90deg, rgba(107,110,214,1) 0%, rgba(161,226,221,1) 100%, rgba(0,212,255,1) 100%);
 font-family: American Typewriter, georgia;
 font-size: 100%
}

h1{
font-size: 250%;
color: #FFFFFF;
text-align: center;
}

h2{
font-size:150%;
color:#FFFFFF;
padding-left: 15px;
}

p{
color: #FFFFFF;
}
